---

---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Page à propos</title>
	</head>
	<body>

        <a href="/">Acceuil</a>
        <a href="/blog/">Blog</a>
        <h1>A PROPOS DE NOUS</h1>
        <h4>NTEME ELONGO Prince Junior</h4>
        <p>Créateur de ce blog</p>
	</body>
</html>

