---

---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Page blog</title>
	</head>
	<body>
        <a href="/">Acceuil</a>
        <a href="/about/">A propos</a>
		<h1>Ici nous ne parlons que de l'actualité du jour du moins ce qui concerne notre culture actuelle dans notre pays.</h1>
        <p>Le dévéloppement web</p>
		
	</body>
</html>
