---

---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Bonjour, bonsoir et bienvenue dans l'apprenstissage de Astro tout seul.</h1>
		<h2>Rien de mieux que d'apprendre de nouveau langage tout seul pour avoir des compétences dans la programmation.</h2>
	</body>
</html>
